@keyframes tr {
  0% {background-position: 0px top;}
  33%{background-position: -243px top;}
  66%{background-position: -486px top;}
}

@keyframes kr {
  0%{background-position: -729px top;}
  5%{background-position: -972px top;}
  15%{background-position: -1215px top;}
  25%{background-position: -972px top;}
  35%{background-position: -729px top;}
  45%{background-position: -1458px top;}
  65%{background-position: -1701px top;}
  80%{background-position: -1458px top;}
  90%{background-position: -729px top;}
}

@keyframes lines {
  0%{background-position: -1944px top;}
  25%{background-position: -2187px top;}
  50%{background-position: -2430px top;}
  75%{background-position: -2673px top;}
}

@keyframes numbers {
  0% {background-position: 0px top;}
  5% {background-position: -486px top;}
  10%{background-position: -972px top;}
  15%{background-position: -1458px top;}
  20%{background-position: -1944px top;}
  25%{background-position: -2430px top;}
  30%{background-position: -2916px top;}
  35%{background-position: -3402px top;}
  40%{background-position: -3888px top;}
  45%{background-position: -4374px top;}
  50%{background-position: -4860px top;}
  55%{background-position: -5346px top;}
  60%{background-position: -5832px top;}
  65%{background-position: -6318px top;}
  70%{background-position: -6804px top;}
  75%{background-position: -7290px top;}
  80%{background-position: -7776px top;}
  85%{background-position: -8262px top;}
  90%{background-position: -8748px top;}
  95%{background-position: -9234px top;}
  100%{background-position: -9720px top;}
  105%{background-position: -10206px top;}
  110%{background-position: -10692px top;}
}
@keyframes conveyor {
  0% {left: -9436px}
  100% {left: 100%;}

}
@keyframes spin {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}
@keyframes spin2 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes spin3 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}
@keyframes float {
  0% {left: -1922px;}
  30%{left: -1790px;}
  70% {left: 1790px;}
  100% {left: 1790px;}
}
@keyframes float2 {
  0% {left: -1790px;}
  100% {left: 1790px;}
}
@keyframes float3 {
  0%{right: -1790px;}
  100% {right: 1790px;}
}
@keyframes float4 {
  0%{left: -1790px;}
  100%{left:1790px;}
}
