

body {
  width: 100%;
  margin: 0 auto;
  background: white;
  /* height: 9400px; */
  display: block;
  position: relative;
  overflow-y: scroll;
}
/* body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: url('images/background.png');
  height: 100%;
  display:block;
  opacity: .2;
} */
html {
  background: white;
  position: relative;
  height: 100%;
}
.horizontal3 {
  position: relative;
 /* width: 100vw; */
 height: 30vh;
 margin: 5vh 0 0 0;
 }
 .line {
 position: absolute;
 width: 40%;

 left: 59%;

 }
 .line *  {
 display: inline-block;
 margin-left: 7%;
 vertical-align: top;
 }
 .title {
 position: absolute;
 top: 3%;
 left: 3%;
 width: 55%;
 height: 100%;

 }
 .title p {
 position: absolute;
 top: 0%;
 font-size: 36px;
 }
 .title img{
 position: absolute;
 width: 100%;
 top: 31%;
 }
 .horizontal4 {
   position: relative;
   /* width: 1790px; */
   height: 200vh;
   margin: 3vh 0 0 0;
 }
 .cloud {
   position: absolute;
   width: 72%;
   height: 21.7%;
   top: 2%;
   left:24%;
   background: url('../images/Group 9.png')no-repeat;
   background-size: 100%;
 }
 .cloud p {
   position: absolute;
   overflow:visible;
   width: 80%;
   left: 20%;
   top: 12%;
   font-size: 30px;
   line-height: 37px;
 }
 .cloud22{
   visibility: hidden;
   position: absolute;
 }

 .windows  {
   vertical-align: top;
   display: block;
   position: absolute;
   width: 54%;
   height: 19%;
   top: 22%;
   left: 42%;
 }

 .window {
   position: absolute;
   width: 25.2%;
   height: 100%;
   display: inline-block;
   background: url('../images/Rectangle 30.png') no-repeat;
 }

 .inthewindow {
   display: block;
   overflow: hidden;
   position: absolute;
   left: 0;
   top: 40px;
   height: 273px;
   width: 243px;
   background: url('../images/Frame 4.png');
   animation: tr 1s steps(1) alternate infinite;
 }

 .window2 {
   position: absolute;
   width: 25.2%;
   height: 100%;
   left: 37.4%;
   display: inline-block;
   background: url('../images/Rectangle 30.png') no-repeat;
 }
 .inthewindow2 {
   display: block;
   overflow: hidden;
   position: absolute;
   left: 0;
   top: 60px;
   height: 273px;
   width: 243px;
   background: url('../images/Frame 4.png');
   animation: kr 5s steps(1) alternate infinite;
 }

 .window3 {
   position: absolute;
   width: 25.2%;
   height: 100%;
   left: 75%;
   display: inline-block;
   background: url('../images/Rectangle 30.png') no-repeat;
 }
 .inthewindow3 {
   display: block;
   overflow: hidden;
   position: absolute;
   left: 0;
   top: 60px;
   height: 273px;
   width: 243px;
   background: url('../images/Frame 4.png');
   animation: lines 1s steps(1) alternate infinite;
 }


 .factory {
  display: inline-block;
  position: absolute;
  width: 65%;
  height: 57%;
  top: 4%;
  left: 2.4%;

}
  .factory img{
 width: 100%;
}


   .manylines {
     position: absolute;
     width: 60%;
     height: 57%;
     top: 44.3%;
     left: 39%;
     vertical-align: top;
   }


   .manylines *  {
   display: inline-block;
   margin-left: 4.3%;
   vertical-align: top;
 }

.horizontal {
  position: relative;
    width: 100vw;
    height: 116vh;
    vertical-align: top;
    margin: 13vh 65vw 0 0vw;
}

.calc {
  position: absolute;
  width: 36%;
  height: 100%;
  left: 60.4%;
}
.frame{
  position: absolute;
  width: 486px;
  height: 170px;
  left: 83px;
  top: 78px;
  display: inline-block;
  background: url('../images/Rectangle 42.png');
}

.numbers {
  display: block;
  position: absolute;
  left: 80px;
  top: 80px;
  height: 170px;
  width: 486px;
  background: url('../images/Frame 7.png');
  animation: numbers 10s steps(1) alternate infinite;
  animation-play-state: paused;
}

.numbers:hover {
  animation-play-state: running;
}

.side{
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 3.5%;
}
.side p {
  position: absolute;
  top: 16%;
  left: 11%;
  width: 70%;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
}
.side h1{
  position: absolute;
  top: 10%;
  left: 11.2%;
  font-size: 36px;
  color: #FFFFFF;
}
.decor {
  position: absolute;
  left: 8%;
  top: 65%;
}
.decor3{
  position: absolute;
  left: 39%;
  top: 56%;
}
.decor4{
  position: absolute;
  left: 47%;
  top: 87%;
}
.decor2 {
  position: absolute;
  left: 11.3%;
  top: 7%;
}
.triangle1{
  position: absolute;
  width: 50%;
  height: 50%;
  left: 0%;
  top: 30.5%;
}
.triangle2{
  position: absolute;
  width: 50%;
  height: 50%;
  left: 38.6%;
  top: 30.8%;
}
.rectangle{
  position: absolute;
  visibility:hidden;
}


.conveyor {
    width: 100%;
    position: relative;
    display: block;
    margin: 5vh 0 0 0;
    height: 69vh;
    overflow: hidden;
  }


.conveyor-move {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: conveyor 10s linear infinite;
}

.conveyor-move:hover {
  animation-play-state: paused;
}

.conveyor2{
  position: relative;
  width: 96%;
  height: 10%;
  margin: 10vh 0 0 3vw;
}

.circles {
  position: absolute;
  width: 95%;
  height: 100%;
  left: 3%;
  top: 24%;
}
.circles *  {
display: inline-block;
margin-left: 3.4%;
vertical-align: top;
}


.mechanism {
position: relative;
    display: block;
    width: 90%;
    height: 175.5%;
    margin: 10vh 4vw 0 3vw;
/* background: url('../images/Rectangle 62.png'); */

}
.background {
width: 90%;
height: 90%;
}
  .dots {
    position: absolute;
    width: 100%;
    height: 85%;
    left: 6%;
    top: 9%;
  }
  .dot1 {
     position: absolute;
     width: 10%;
     height: 10%;
     left: 0;
     top: 0;
   }
   .dot2 {
     position: relative;
     width: 100%;
     height: 1%;
     left: 90%;
     top: 0;
   }
   .dot3 {
     position: relative;
     width: 10%;
     height: 10%;
     left: 90%;
     top: 90%;
   }
   .dot4 {
     position: relative;
     width: 10%;
     height: 10%;
     left: 0;
     top: 80%;
   }
  .machine {
    position: absolute;
    width: 90%;
    height: 80%;
    top: 15%;
    left: 9%;
  }
  .machine * {
    display: inline-block;
    margin-left: 1%;
  }
  .machine1 img {
    position:absolute;
    top: 0;
    animation: spin 50s linear infinite;
  }
  .machine2 img {
    position:absolute;
    top: -6%;
    left: 40%;
    animation: spin2 30s linear infinite;
  }
  .machine3 img {
    position:absolute;
    left: 28%;
    top: 60%;
    animation: spin3 60s linear infinite;
  }

.horizontal2 {
  position: relative;
  /* width: 1790px; */
  height: 105vh;
  margin: -1vh 0 0 0;

}
    .tube img{
      position: absolute;
      left: 15%;
      top: 0;

    }
    .tubes {
      position: absolute;
      left: 60%;
      top: 0;
    }

    .clouds {
      position: absolute;
      width: 1910px;
      height: 600px;
      left: -120px;
      top: 270px;
      display: block;
      overflow: hidden;
    }

    .cloud1 img {
      position: absolute;
      left: -6.7px;
      top: 410px;
      width: 311px;
      transform: scaleX(-1);
    }
    .cloud2 img{
      position: absolute;
      left: 240px;
      width: 506px;
      top: 180px;

    }
    .cloud3 {
      position: absolute;
      width: 231px;
      top: 500px;
      left: 750px;
    }
    .cloud4 img {
      position: absolute;
      width: 470px;
      left: 1500px;
      top: 250px;
      transform: scaleX(-1);
    }
    .cloud5 {
      position: absolute;
      top: 550px;
      left: 1750px;
    }
    .cloud6 {
      position: absolute;
      width: 314px;
      height: 390px;
      left: 1040px;
      top: 0px;
    }

    .horizontal5 {
      position: relative;
      /* width: 1790px;
      height: 2600px; */
      margin: 0 0 0 0;
    }

    .icebergs{
      position: relative;
      /* width: 1790px; */
      /* height: 2455px; */
      margin: 0 0px 0 0px;
    }
    .icebergs p {
      font-weight: bold;
      color: #FFFFFF;
    }
    .t1  {
      position: absolute;
      top: 290px;
      left: 86px;
      letter-spacing: 1px;
    }
    .t2 {
      position: absolute;
      top: 800px;
      left: 630px;
      letter-spacing: 1px;
    }
    .t3 {
      position: absolute;
      top: 1150px;
      left: 1425px;
      letter-spacing: 1px;
    }
    .stroke1 {
      position: absolute;
      top: 326px;
      left: 86px;
    }
    .stroke2 {
      position: absolute;
      top: 836px;
      left: 630px;
    }
    .stroke3 img {
      position: absolute;
      width: 383px;
      top: 1190px;
      left: 1200px;
    }


    .iceberg1 img {
      position: absolute;
      left: 13%;
      top: -10vh;
    }

    .iceberg2 img {
      position: absolute;
      left: 46%;
      top: -33.8vh;
    }
    .ocean {
      position: absolute;
      background: #3300FF;
      width: 100%;
      height: 2455px;
      top: 22vh;
    }
    .floatingice {
      position: absolute;
      width: 1790px;
      height: 1182px;
      top: 1440px;
      overflow: hidden;
    }
    .floatingice1 {
     position: absolute;
     display: inline-block;
     width: 1422px;
     height: 972px;
     left: 0px;
     top: 0px;
     animation: float 20s linear infinite;
    }

    .floatingice12 {
      display: inline-block;
      position: relative;
      width: 1422px;
      height: 972px;
      left: 1200px;
      top: 0px;
      animation-delay: none;
      animation: float2 10s linear infinite;

    }

    .floatingice2 {
      position: absolute;
      width: 1790px;
      height: 195px;
      top: 450px;
      animation: float3 10s linear infinite;
    }

    .floatingice3 {
      position: absolute;
      top: 200px;
      left: 141px;
      width: 1507px;
      height: 100px;
      animation: float4 20s linear infinite;
    }

    .footter {
      position: absolute;
      bottom: 0px;
      width: 1790px;
      height: 110px;
    }
    .footter img {
      position: absolute;
      top: 0px;
      left: 46px;
      width: 249px;
      height: 106px;
    }
    .footter p {
      position: absolute;
      top: 51px;
      right: 46px;
      font-size: 26px;
    }
