@media all and (min-device-width: 1024px) and (max-device-width: 768px) and (orientation: landscape) {
 .title > * { width: 49vw; }
.line img { width: 60%;}


}

@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
 .title {
   width: 331vw;
 }

}
