@media all and (min-width: 768px) and (max-width: 1279px) {
  /* ipad landscape */
  .horizontal3 { width: 100vw;
       margin: 0 0 0 0;}
       .title {transform: scale(1);
      top: -5vh;
      left: 3vw;}
       .title img {
      top: 16vh;}
      .title p{
        top: 6vh;
        font-size: 26px;
      }
      .line { transform: scale(0.56);
    left: 45vw;
     top: 0vh;
     width:70vw; }

  .horizontal4 {
      width: 100vw;
      height: 130vh;
      margin: 0 0 0 0;
    }
    .cloud {transform: scale(0.77);
    top: -6vh;
    left: 18vh;}
    .cloud p{
      width: 80vw;
      font-size: 26px;
    }

    .factory {
   transform: scale(0.65);
   left: -9vw;
   top: -13.5vh;
 }
 .factory img{
   width: 100vw;
 }
 .windows {
   transform: scale(0.57);
   left: 22vw;
   top: 12vh;
   width: 95vw;
   height: 45vh
 }
 .manylines {
   transform: scale(0.58);
   left: 19vw;
   top: 31vh;
   width: 100vw;
  }
  .horizontal{
    width: 100vw;
    margin: 0 0 0 0;
    height: 80vh;
  }
 .side {
   transform:scale(0.58);
   top: -28vh;
   left: -7vw;
 }
 .side p{
   width: 65vw;
 }
 .decor{left:5vw;
 top: 74vh;}
 .decor3{left:48vw;
 top:67vh;}
 .decor4{left:45vw;
 top: 100vh;}
 .triangle1{left: 46vw;
 top: 35vh;}
 .triangle2{left:0vw;
 top:35vh;}

 .calc {
   transform:scale(0.58);
   top: -28vh;
   left: 53vw;
 }
 .conveyor {
   transform: scale(0.58);
   margin-top: -35vh;
   margin-left: -38vw;
   width: 175.9vw;
   height: 63vw
 }
 .circles {
   width: 150vw;
 }
 .conveyor2 {
   transform: scale(0.58);
   margin-top: -20vh;
   margin-left: -17vw;
 }
 .mechanism {
   transform: scale(0.58);
   width: 100vw;
   height: 100vh;
   margin: -20vh 0 0 -18vw;
 }
 .dots {
  width: 155vw;
  height: 110vh;
  top:9vh;
  left:8vw;
 }
 .machine2 img{
   left: 59vw;
 }
 .machine1 img{
   left: 8vw;
 }
 .machine3 img {
   top: 60vh;
   left: 40vw;
 }
 .horizontal2 {
   margin: -29.2vh 0 0 -26vw;
   transform: scale(0.57);
   height: 100vh
 }
 .clouds {
  height: 80vh;
 }
 .tubes{
   left: 100vw;
 }

.horizontal5 {
  width: 100vw;
  margin: -12vh 0 0 -21vw;
  transform: scale(0.59);
}
.t3 {
  width: 20vw;
}
.ocean{
  width: 171vw;
}
.iceberg1 img{
  left: 20vw;
}
.iceberg2 img{
  left: 78vw;
}

}


@media all and (min-width: 500px) and (max-width: 767px) {
 .horizontal3 { width:100vw;
 margin: 0 0 0 0;
height: 6vh;}

 .title { transform:scale(1.7);
 left: 23vw;
 top: 0vh;
 }
 .title p{
   font-size: 16px;
   top: 1vh;
 }
 .title img{
   top: 6vh;
 }
 .line { display: none;
}
.three1,.four1,.five1 {display:none;}

 .horizontal4{
   width: 100vw;
   margin: 0 0 0 0;
   height: 58vh;
 }
 .cloud { transform: scale(0.37);
 left:2.1vw;
 top: 12vh;
 }
 .cloud p{
   width: 180vw;
   top: 2vh;
 }
 .line { transform:scale(0.5);
top: -5vh;
left: 65vw;
width: 50vw;
}
.three1,.four1,.five1 {display:none;}

.factory{
  transform: scale(1.1);
  top: 21.5vh;
  left: 5vw;
}
.manylines{
  transform: scale(0.32);
  top: 31.5vh;
  left: -12.5vw;
  width: 166vw;
}
.eight {display:none;}
.windows{
  transform: scale(0.3);
  width: 190vw;
  height: 50vh;
  left: -20vw;
  top: 11vh;
}
.window{
  left: 0vw;
}
.window2{
  left: 60vw;
}
.window3{
  left: 120vw;
}
.horizontal{
  width: 100vw;
  height: 166vh;
  margin: 0 0 0 0;
}
.side{
  transform: scale(0.5);
  top: -16vh;
  left: -9vw;
}
.triangle1{
  left: 0;
  top: 35vh;
}
.triangle2{left:69vw;
top:35vh;
}
.decor2 {left:8vw;
top: 4vh;}
.side p {left:8vw;
  top: 16vh;
width:160vw;}
.side h1{left:8vw;
  top: 10vh;
width: 100vw;}
.decor{left:5vw;
top: 75vh;}
.decor3{left:62vw;
top:76vh;}
.decor4{left: 90vw;
top: 100vh;}
.calc{
  transform: scale(0.73);
top: 64vh;
left: -1vw;
}
.conveyor{
  width: 100vw;
  margin: -10vh 0 0 0;
}
.conveyor-move img{
  transform: scale(0.5);
}
.conveyor2{
  margin: -22vh 0 0 -32vw;
  transform: scale(0.28);
}
.circles{
  width: 300vw;
  left: 14vw;
}
.mechanism{
  margin: -4vh 0 0 -50vw;
  width: 100vw;
  height: 38vh;
  transform: scale(0.42);
}
.background img{
  transform: rotate(90deg);
}
.machine1 img{
  left: 90vw;
  top: -27vh;
}
.machine2 img{
  left: 80vw;
  top: 47vh;
}
.machine3 img{
  left: 190vw;
  top: 20vh;
}
  .dots{
    height: 175vh;
    left: 75vw;
    top: -20vh;
    width: 202vw;
  }
.horizontal2{
  margin: 20vh 0 0 -36vw;
  width: 100vw;
  height: 50vh;
  transform: scale(0.28);
}
.tubes{
  left: 200vw;
}
.horizontal5{
  margin: 0 0 0 -36vw;
  transform: scale(0.28);
  width: 100vw;
}
.ocean{
  width: 359vw;
}
.iceberg1 img{
  left: 55vw;
}
.iceberg2 img{
  left: 165vw;
}
.t3{
  width: 55vw;
  top: 124vh;
  left: 266vw;
  font-size: 30px;
}
.t2{
  width: 60vw;
  top: 86vh;
  left: 126vw;
  font-size: 30px;
}
.t1{
  width: 55vw;
  top: 30vh;
  left: 17vw;
  font-size: 30px;
}


}

@media all and (min-width: 768px) and (max-width: 892px) {
  /* ipad Portrait */
  .horizontal3 { width: 100vw;
       margin: 0 0 0 0;}
       .title {
      top: 0vh;
      left: 4vw;}
       .title img {
        transform: scale(1.2);
      top: 11.8vh;
    left: 5.5vw;}
      .title p{
        top: 2vh;
        font-size: 26px;
      }
      .line { transform: scale(0.6);
    top: -3.6vh;
    left: 62vw;
    width: 50vw;
    }
    .four1,.five1 {display:none;}

.horizontal4 {width: 100vw;
height: 110vh;
margin: 0 0 0 0;}
.cloud {transform:scale(0.545);
left: 11.5vw;
top: -9vh;}
.cloud p {font-size:26px;
width: 100vw;}
.factory{ transform:scale(0.82);
left: -5vw;
top: -9.6vh}
.manylines{transform:scale(0.54);
left: 27vw;
top: 25vh;
}
.seven,.eight {display:none;}

.windows {transform:scale(0.6);
  width: 123.6vw;
top: 5vh;
left: 27vw}
.window{
  left: 2vw;
}
.window3 {display:none;}

.horizontal{width:100vw;
margin:6vh 0 0 0;
height: 50vh;}
.side{transform:scale(0.56);
top: -20.5vh;
left: -8.6vw;}
.bkg img{width:84vw;
height: 113vh;}
.triangle1{display:none;}
.triangle2{left:1.88vw;
top:35vh;
transform:scaleX(1.1);}
.decor2 {left:8vw;}
.side p {left:8vw;
  top: 14vh;
width:70vw;}
.side h1{left:8vw;
width: 80vw;}
.decor{left:5vw;}
.decor3{left:62vw;
top:76vh;}
.decor4{display:none;}
.calc{transform:scale(0.55);
left: 44.3vw;
top: -20.5vh;}
.conveyor{
  margin-top: -8vh;
}
.conveyor-move img{
  transform: scale(0.6);
  margin-top: -7vh;
}
.conveyor2{
  transform: scale(0.55);
  top: 0vh;
  left: -15vw;
}
.conveyor2 img {
  transform: scale(0.77);
}
.circles {
  left: 35vw;
}
.mechanism {
  margin: -17vh 0 0 -25.4vw;
  transform: scale(0.53);
  width: 100vw;
  height: 44.5vh;
}
.background {
  transform: scale(0.81);
}
.dots{
  transform: scale(0.81);
  left: 0vw;
  top: 1vh;
  width: 209vw;
}
.machine1{
  transform: scale(0.8);
}
.machine2{
  transform: scale(0.8);
}
.machine1 img{
  left:28vw;
  top: 10vh;
}
.machine2 img{
  top: 4vh;
  left: 98vw;
}
.machine3 img{
  top: 60vh;
  left: 55vw;
}
.horizontal2{
  margin: -5.9vh 0 0 -35vw;
  height: 90vh;
  transform: scale(0.41);
}
.tubes{
  left: 130vw;
}
.horizontal5 {
  width: 100vw;
  margin: -14vh 0 0 -28.57vw;
  transform: scale(0.429);
}
.t3 {
  width: 35vw;
  font-size: 30px;
  left: 172vw;
  top: 123.5vh;
}
.t2 {
  width: 39vw;
  font-size: 30px;
  left: 82.6vw;
  top: 85vh;
}
.t1 {
  width: 39vw;
  font-size: 30px;
  left: 7vw;
  top: 29vh;
}
.stroke1{
  left: 7vw;
}
.ocean{
  width: 235vw;
}
.iceberg1 img{
  left: 34vw;
}
.iceberg2 img{
  left: 105vw;
}

}
@media all and (min-width: 1680px) and (max-width: 1700px) {
    /* pro 15.4 */
.horizontal3{ width: 100vw;
  height: 35vh;
  margin: 0 0 0 0;}
     .title {
    top: 0vh;
    left: 3vw;}
     .title img {
    top: 16vh;}
    .title p{
      top: 6vh;
      font-size: 26px;
    }
    .line {
      transform: scale(0.86);
    left: 57.7vw;
    top: 6vh;
    width:46vw; }

    .horizontal4{
      margin: 2vh 0 0 0;
      width: 100vw;
      height: 194vh;
    }
    .cloud{
      left: 23.6vw;
    }
    .cloud p{
      width: 50vw;
      font-size: 26px;
      top: 3vh;
    }
    .windows{
      transform: scale(0.86);
      left: 37.5vw;
      top: 42vh;
      width: 64vw;
      height: 45vh;
    }
    .manylines {
      width: 90vw;
      top: 78vh;
      left: 35vw;
      transform: scale(0.9);
    }
    .manylines *{
      margin-left: 1.5vw;
    }
    .factory{
      transform: scale(0.96);
      left: 2vw;
      top: 9vh;
    }
    .horizontal{
      margin: 7vh 0 0 0;
      width: 100vw;
      height: 100vh;
    }
    .side {
      transform: scale(0.94);
      left: 3vw;
      top: -9vh;
    }
    .calc{
      transform: scale(0.94);
      left: 59vw;
      top: -9vh;
    }
    .side p{
      width: 45vw;
    }
    .decor{
      left: 5vh;
      top: 77vh;
    }
    .decor3{left:32vw;
    top:65vh;}
    .decor4{left:27vw;
    top: 101vh;}
    .triangle1{left: 28.5vw;
    top: 35vh;}
    .triangle2{left:0vw;
    top:35vh;}

    .conveyor2{
      transform: scale(0.94);
      left: -3.5vw;
      top: -6vh;
      width: 107vw;
    }
   .mechanism{
     margin: -4vh 0 0 0vw;
     transform: scale(0.94);
     width: 100vw;
     height: 115vh;
   }
   .dots{
     width: 95vw;
     height: 108vh;
   }
   .machine2 img{
     left: 38vw;
     top: 1vh;
   }
   .machine3 img{
     left: 25vw;
     top: 62vh;
   }
   .horizontal2{
     margin: 1vh 0 0 -3.3vw;
     height: 100vh;
     transform: scale(0.942);
   }
   .horizontal5 {
     width: 100vw;
     margin: 2vh 0 0 -3.2vw;
     transform: scale(0.942);
   }
   .t3{
     width: 15vw;
   }
   .ocean{
     width: 106.5vw;
   }

}
@media all and (min-width: 1440px) and (max-width: 1679px) {
    /* pro 15 */
  .horizontal3 { width: 100vw;
       margin: 0 0 0 0;
     }
       .title {
      top: 0vh;
      left: 3vw;}
       .title img {
      top: 15vh;}
      .title p{
        top: 6vh;
        font-size: 26px;
      }
      .line { transform: scale(0.78);
    left: 52.4vw;
     top: 3.5vh;
     width:55vw; }

     .horizontal4{
       margin: 0 0 0 0;
       width: 100vw;
       height: 160vh;
     }
     .windows{
       transform: scale(0.8);
       width: 71vw;
       height: 70vh;
       left: 36.5vw;
       top: 31vh;
     }
     .window2{
       left: 25vw;
     }
     .window3{
       left: 49vw;
     }
     .manylines {
       transform: scale(0.8);
       top: 65vh;
       width: 70vw;
       left: 34vw;
     }
     .factory{
       transform: scale(1);
       top: 10vh;
     }
     .cloud{
       top: 5vh;
     }
     .cloud p{
       width: 61vw;
       font-size: 26px;
       top: 3vh;
     }
     .horizontal{
       width: 100vw;
       height: 100vh;
       margin: 5vh 0 0 0;
     }
     .side {
       transform:scale(0.8);
       top: 0vh;
       left: -1.3vw;
     }
     .side p{
       width: 46vw;
     }
     .decor{left:4vw;
     top: 75vh;}
     .decor3{left:36vw;
     top:67vh;}
     .decor4{left:31vw;
     top: 100vh;}
     .triangle1{left: 33.5vw;
     top: 35vh;}
     .triangle2{left:0vw;
     top:35vh;}

     .calc {
       transform:scale(0.8);
       top: 0vh;
       left: 57.5vw;
     }
     .conveyor2 {
       transform: scale(0.79);
       margin: 4vh 0 0 -8vw;
     }
     .circles {
       width: 110vw;
     }
     .mechanism{
       margin: -10vh 0 0 -7.4vw;
       transform: scale(0.78);
       width: 100vw;
       height: 98.5vh;
     }
     .machine2 img{
       left: 44vw;
       top: 3vh;
     }
     .machine3 img{
       top: 60vh;
       left: 27vw;
     }
     .dots{
       width: 114vw;
       height: 110vh;
     }
     .horizontal2{
       width: 100vw;
       margin: 1vh 0 0 -12vw;
       height: 88vh;
       transform: scale(0.84);
     }
     .tubes{
       left: 75vw;
     }
     .horizontal5{
       width: 100vw;
       margin: 0 0 0 -10vw;
       height: 90vh;
       transform: scale(0.81);
     }
     .t3{
       width: 30vw;
     }
     .ocean{
       width: 124vw;
     }
    .iceberg1 img{
      left: 20vw;
    }
    .iceberg2 img{
      left: 55vw;
    }
   }

     @media all and (min-width: 1280px) and (max-width: 1365px) {
       /* pro 13 */
       .horizontal3 { width: 100vw;
            margin: 0 0 0 0;
          }
          .title {
         top: 0vh;
         left: 3vw;}
          .title img {
         top: 15vh;}
         .title p{
           top: 6vh;
           font-size: 26px;
         }
         .line{
           transform: scale(0.78);
           width: 50vw;
           left: 52.5vw;
           top: 1.5vh;
         }
         .horizontal4{
           margin: 0 0 0 0;
           width: 100vw;
           height: 143vh;
         }
         .cloud{
           transform: scale(0.94);
           left: 22vw;
         }
         .cloud p{
           font-size: 26px;
         }
         .windows{
           transform: scale(0.75);
           width: 78vw;
           height: 38vh;
           left: 32vw;
           top: 29vh;
         }
         .window2{
           left: 27vw;
         }
         .window3{
           left: 54vw;
         }
         .manylines{
           transform: scale(0.72);
           width: 85vw;
           left: 27vw;
           top: 55vh;
         }
         .factory{
           transform: scale(1);
           top: 10.5vh;
         }
         .horizontal{
           width: 100vw;
           margin: 0 0 0 0;
           height: 100vh;
         }
         .side{
           transform: scale(0.73);
           top: 0vh;
           left: -3vw;
         }
         .calc{
           transform: scale(0.73);
           top: 0vh;
           left: 55vw;
         }
         .side p{
           width: 60vw;
         }
         .decor{left:4vw;
         top: 75vh;}
         .decor3{left:36vw;
         top:67vh;}
         .decor4{left:36vw;
         top: 100vh;}
         .triangle1{left: 37.5vw;
         top: 35vh;}
         .triangle2{left:0vw;
         top:35vh;}
         .conveyor2{
           transform: scale(0.7);
           margin: 4vh 0 0 0;
           left: -11vw;
         }
         .circles{
           width: 120vw;
           left: 5vw;
         }
         .mechanism{
           transform: scale(0.7);
           margin: -10vh 0 0 -9.5vw;
           height: 87vh;
         }
         .dots{
           width: 125vw;
           height: 108vh;
           top: 10vh;
           left: 8vw;
         }
         .machine2 img{
           left: 50vw;
           top: 0vh;
         }
         .machine3 img{
           left: 34vw;
           top: 60vh;
         }
         .horizontal2{
           transform: scale(0.7);
           margin: -2vw 0 0 -15vw;
           height: 100vh;
         }
         .tubes{
           left: 80vw;
         }
         .horizontal5{
           transform: scale(0.726);
           margin: 0 0 0 -17vw;
           width: 100vw;
         }
         .ocean{
           width: 143vw;
         }
         .iceberg1 img{
           left: 20vw;
         }
         .iceberg2 img{
           left: 63vw;
         }
         .t3{
           width: 30vw;
         }

}

      @media all and (min-width: 1366px) and (max-width: 1439px) {
      /* air 11.6 */
      .horizontal3{
        width: 100vw;
        margin: 0 0 0 0;
        height: 30vh;
      }
      .title{
        transform: scale(0.97);
        top: 5vh;
      }
      .title p{
        font-size: 30px;
      }
      .line{
        transform: scale(0.8);
        width: 47vw;
        top: 1.5vh;
        left: 54.5vw;
      }
      .horizontal4{
        width: 100vw;
        height: 154vh;
        margin: 0 0 0 0;
      }
      .cloud p{
        width: 60vw;
        top: 2.3vh;
        font-size: 26px;
      }
      .factory {
        transform: scale(1);
        top: 8.5vh;
      }
      .manylines{
        transform: scale(0.78);
        width: 73vw;
        top: 56.5vh;
        left: 32vw;
      }
      .windows{
        transform: scale(0.77);
        width: 70vw;
        height: 70vh;
        top: 26vh;
        left: 34.5vw;
      }
      .horizontal{
        width: 100vw;
        height: 100vh;
        margin: 0 0 0 0;
      }
      .side{
        transform: scale(0.78);
        left: -2vw;
        top: 0;
      }
      .calc{
        transform: scale(0.78);
        left: 56.6vw;
        top: 0;
      }
      .decor{left:4vw;
      top: 75vh;}
      .decor3{left:36vw;
      top:67vh;}
      .decor4{left:33vw;
      top: 100vh;}
      .triangle1{left: 35.3vw;
      top: 35vh;}
      .triangle2{left:0vw;
      top:35vh;}

      .conveyor2{
        transform: scale(0.77);
        margin: 4vh 0 0 -8.7vw;
      }
      .circles{
        width: 110vw;
      }
      .mechanism{
        transform: scale(0.76);
        margin: -13vh 0 0 -9vw;
        height: 92vh;
        width: 100vw;
      }
      .dots{
        width: 120vw;
        height: 108vh;
        left: 6.5vw;
      }
      .machine2 img{
        top: 0vh;
        left: 48vw;
      }
      .machine3 img{
        top: 54vh;
        left: 32vw;
      }
      .horizontal2{
        width: 100vw;
        margin: 0 0 0 -9.6vw;
        height: 94vh;
        transform: scale(0.74);
      }
      .tubes{
        left: 75vw;
      }
      .horizontal5{
        transform: scale(0.76);
        margin: 0 0 0 -14.5vw;
      }
      .ocean{
        width: 133vw;
      }
      .iceberg1 img{
        left: 20vw;
      }
      .iceberg2 img{
        left: 60vw;
      }
      .t3{
        width: 30vw;
      }



      }
      @media all and (min-width: 320px) and (max-width: 499px) {
      /*iphone*/
      .horizontal3{
        width: 100vw;
        margin: 0 0 0 0;
        height:  20vh;
      }
      .title {
        transform: scale(1.63);
     top: 0vh;
     left: 22vw;
   }
      .title img {
     top: 9.4vh;}
     .title p{
       top: 3vh;
       font-size: 12px;
     }
     .line{
       display: none;
     }
     .horizontal4{
       width: 100vw;
       height: 70vh;
       margin: 3vh 0 0 0;
     }
     .factory {
       top: 27vh;
       left: 15.6vw;
       transform: scale(1.58);
     }
     .cloud img{
       display: none;
     }
     .cloud p{
       font-size: 7px;
       line-height: 9px;
       width: 65vw;
       left: 13vw;
       top: 0.5vh;
     }
     .cloud{
       transform: scale(1.27);
       left: 13vw;
     }
     .cloud22{
       visibility: visible;
       top: 20vh;
       left: 30vw;
     }
     .windows{
       transform: scale(0.23);
       width: 100vw;
       height: 200vh;
       top:-60vh;
       left: 27.5vw;
     }
     .window {
       top: 0;
       left: 0;
       height: 61vh;
       width: 72vw;
       border: 40px solid #fff;
       border-radius: 150px 150px 0 0;
     }

     .window2{
       top:80vh;
       left: 0;
       width: 73vw;
       height: 61vh;
       border: 40px solid #fff;
       border-radius: 150px 150px 0 0;
     }
     .window3{
       top: 160vh;
       left: 0;
       width: 73vw;
       height: 61vh;
       border: 40px solid #fff;
       border-radius: 150px 150px 0 0;
     }
     .manylines{
      transform: scale(0.18);
      width: 280vw;
      top: -2vh;
      left: -60vw;
     }
     .manylines *{
       margin-left: 4vw;
     }
     .one img{
       transform: scaleY(4.2);
       transform-origin: top;
     }
     .two img{
       transform: scaleY(4.2);
       transform-origin: top;
     }
     .three img{
       transform: scaleY(2.82);
       transform-origin: top;
     }
     .four img{
       transform: scaleY(2.82);
       transform-origin: top;
     }
     .five img{
       transform: scaleY(2.15);
       transform-origin: top;
     }
     .six img{
       transform: scaleY(2.15);
       transform-origin: top;
     }
     .seven img{
       transform: scaleY(2.15);
       transform-origin: top;
     }
     .eight{
       display: none;
     }
     .horizontal{
       width: 100vw;
       height: 166vh;
       margin: 0vh 0 0 0;
     }
     .side{
       transform: scale(0.34);
       top: 84vh;
       width: 300vw;
       height: 200vh;
       left: -99vw;
       overflow: hidden;
     }
     .side p{
       display: none;
     }
     .side h1{
       display: none;
     }
     .bkg img{
       position: absolute;
       top: -65vh;
     }
     .decor{left:12vw;
     top: 59vh;}
     .decor2{
       display: none;
     }
     .decor3{left:100vw;
     top:50vh;}
     .decor4{left:140vw;
     top: 99vh;}
     .triangle1{
       left: 0;
       top: 0;
     }
     .triangle2{
       top: 0;
       left: 109vw;
     }
     .rectangle{
       visibility: visible;
       top: 37vh;
       left: 0;
     }
     .rectangle p{
       position: absolute;
       font-size: 14px;
       line-height: 18px;
       width: 90vw;
       color: white;
       top: 5vh;
       left: 5vw;
     }
     .rectangle h1{
       position: absolute;
       font-size: 16px;
       width: 90vw;
       color: white;
       top: 0vh;
       left: 5vw;
     }
     .calc{
       transform: scale(0.5);
       top:15vh;
       left: -9.5vw;
     }
     .conveyor{
       margin: 0 0 0 0;
       width: 100vw;
       height: 90vh;
     }
     .conveyor-move img{
       transform: scale(0.4);
     }
     .conveyor2{
       margin: -25vh 0 0 -35vw;
       transform: scale(0.17);
    }
     .circles{
      margin: 0 0 0 0;
      width: 470vw;
      left: 10vw;
     }
     .mechanism{
       margin: -39vh 0 0 -54vw;
       width: 100vw;
       height: 100vh;
       transform: scale(0.25);
     }
     .background img{
       transform: rotate(90deg);
     }
     .machine1 img{
       left: 140vw;
       top: -30vh;
     }
     .machine2 img{
       left: 130vw;
       top: 70vh;
     }
     .machine3 img{
       left: 290vw;
       top: 37vh;
     }
       .dots{
         height: 270vh;
         left:126vw;
         top: -26vh;
         width: 298vw;
       }
       .horizontal2{
         margin: -44vh 0 0 -69vw;
         transform: scale(0.177);
       }
       .tubes{
         left: 310vw;
       }
       .horizontal5{
         transform: scale(0.176);
         margin: -30vh 0 0 -42vw;
         width: 100vw;
       }
       .ocean{
         width: 560vw;
         height: 450vh;
       }
       .iceberg1 img{
         left: 90vw;
         top: -29vh;
       }
       .iceberg2 img{
         left: 260vw;
         top: -67vh;
       }
